@import "tailwindcss";
@import "@nuxt/ui";


@theme {
    
}
.custom-scrollbar {
@apply  [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
}
:root {
  --ui-primary: var(--ui-color-neutral-200);
  --ui-secondary: var(--ui-color-secondary-600);

  /* --ui- */
    /* --ui-bg: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-bg-elevated: var(--ui-color-neutral-200); */

}

.dark {
  /* --ui-primary: var(--ui-color-primary-200);
  --ui-secondary: var(--ui-color-secondary-300); */
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-900);
}
