@import "tailwindcss";
@import "@nuxt/ui";


@theme {
    
}

:root {
  --ui-primary: var(--ui-color-neutral-200);
  --ui-secondary: var(--ui-color-secondary-600);

  /* --ui- */
    /* --ui-bg: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-bg-elevated: var(--ui-color-neutral-200); */

}

.dark {
  /* --ui-primary: var(--ui-color-primary-200);
  --ui-secondary: var(--ui-color-secondary-300); */
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-900);
}

